#ignore everything
*
*.gsd
*.ipynb_checkpoints
# But not these files...
!*.qsub
!.gitignore
!*.lmp
!in.*
!*.sh
!*.awk
!*.lt
!*.py
!*.sh
!*.c
!*.cpp
!*.h
!*.ipynb
!tmux.conf
!*.md
!*.yml
!settings.json
# ...even if they are in subdirectories
!*/

Lammps/General/Thermo_Analyser.py

